@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

:root {
  --primary:#4e6c22;
  --secondary:#04974b;
  --white:#fff;
  --black:#111;
}
 

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto', sans-serif;
	font-family: 'Saira', sans-serif;
    scroll-behavior: smooth;
    overflow: inherit !important;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea, select {
  background: none;
  border: solid 1px #eee;
  color: #444;
  font-size: 15px;
  line-height: normal;
  margin: 0 0 12px;
padding: 13px 20px;
  width: 100%;
  outline: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
select, input[type="date"] {
  padding: 14px 17px;
}
input[type="submit"] {
  color: var(--white);
  background: var(--primary);
  text-transform: uppercase;
  border: none;
  padding: 9px 25px;
  font-size: 14px;
  border: 0;
  letter-spacing: 0.8px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
input[type="submit"]:hover {
  background: var(--secondary);
  color: var(--white);
  transition: 0.8s;
}
textarea {
  height: 100px;
  margin-bottom: 5px;
}
h1, h2, h3, h4, h5, h6 {
margin: 0 0 15px 0;
    font-family: 'Saira', sans-serif;
    color: #050A15;
    font-weight: 500;
    text-transform: inherit;
    line-height: normal;
}
h1 {
  font-size:28px
}
h2 {
  font-size:24px
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size:18px
}
h6 {
  font-size:16px
}
p {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}
ul, li, a{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color: #222;
  line-height: 24px;
  font-size: 14px;
}
a:hover {
  transition:0.8s;
  text-decoration:none;
}

.heading, .leftheading {
    padding-bottom: 28px;
    margin-bottom: 25px;
    font-size: 36px;
    position: relative;
    font-weight: 600;
    background: url(../images/heading.png)no-repeat center bottom;
}
.leftheading span, .heading span {
	 font-family: 'Roboto', sans-serif;
    display: block;
    color: var(--primary);
    font-weight: normal;
    font-size: 32px;
}
.heading{
  text-align:center;
}

.subheading{
    width: 80%;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 17px;
    color: #121212;
    font-family: 'Roboto', sans-serif;
}

.zoomeffect {
  overflow: hidden;
  position:relative;
}
.zoomeffect img {
  transition: transform 0.8s ease-in-out;
}
.zoomeffect:hover img {
  transform: scale(1.1);
}


/* ANNOUNCEMENT SECTION CSS */

.announcement-bar__message, .announcement-bar__message a, .announcement-bar__message button {
    color: var(--white);
}

/* TOPBAR SECTION CSS */

.topbar {
    background: var(--primary);
    padding: 6px 0;
}
.topbar .row {
	align-items: center;
}
.topbar .col-sm-9 {
    display: flex;
    align-items: center;
}
.topbar p {
    margin: 0;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #ffffff82;
}
.topbar p:last-child {
    padding: 0;
    margin: 0;
    border: none;
}
.topbar p, .topbar p a, .smoicons ul li a {
	color:var(--white);
}

.topbar p i {
    margin-right: 7px;
    color: var(--primary);
    background: var(--white);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.smoicons ul {
    display: flex;
    align-items: center;
    column-gap: 23px;
    justify-content: end;
}
.smoicons ul li, .smoicons ul li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

/* HEADER SECTION CSS */

header {
    
}
header.fixed {
    position: fixed;
    top: 0;
    background: var(--white);
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 12px #0000001a;
}
header.fixed .menutop li a{
	padding: 35px 25px;
}
header .row {align-items: center;}
.menucontainer {
    position: relative;
        display: flex;
        justify-content: flex-end;
    }
    
    .menucontainer ul li {
        display: inline-block;
        position: relative;
    }
    .menucontainer ul li a {
        display: inline-block;
        font-size: 15px;
        color: var(--dark);
        padding: 42px 25px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        position: relative;
    }
    .menucontainer ul li:first-child a {
        color: var(--primary);
    }


/* SLIDER SECTION CSS */


.carousel-caption h1 {
    margin: 0;
}

.carousel-caption p {
    font-weight: 400;
    font-size: 20px;
    margin: 5px 0 25px;
}

.mainbanner img {
    width: 100%;
    height: 580px;
    object-fit: cover;
}